nav{
    background-color: white;
}

.carousel-item img{
    width: 95%;
    height: 80vh;
}

ul li{
    list-style: none;
}

.change{
    border-radius: 10%;
}


.last-section{
    background-color: black;
}

.position{
    position: relative;
    right:-100px !important;
}

.top2{
    position: relative;
    left: 50px;
}